/*Silentnight custom*/
.sn-header .sn-icons.home {
  background-position: 0 -510px; }

.sn-buttons > div {
  flex-grow: 1;
  margin: 20px 5px; }

.sn-lead {
  display: flex;
  flex-wrap: nowrap; }
  @media (max-width: 768px) {
    .sn-lead {
      flex-wrap: wrap; } }
  .sn-lead h3 {
    margin: 25px 0; }
  .sn-lead ul {
    padding: 20px; }
  .sn-lead > div {
    padding: 0 0 0 30px; }
  .sn-lead div:first-child {
    padding: 0 30px 0 0; }
  .sn-lead .btn {
    float: right;
    margin: 20px 0; }

.sn-breadcrumbs ul {
  list-style-type: none; }

.sn-breadcrumbs ul li {
  display: inline-block; }
  .sn-breadcrumbs ul li .fa-chevron-right {
    margin: 0 10px;
    font-size: 7px;
    vertical-align: middle; }

.sn-size h6 {
  display: inline-block; }

.sn-size .fa-asterisk {
  font-size: 6px;
  vertical-align: top;
  color: red; }

.sn-size select {
  float: right;
  width: 85%; }

.sn-size ul {
  list-style-type: none;
  padding: 0; }

.sn-thumbs ul li {
  display: inline-block; }
  .sn-thumbs ul li img {
    width: 100px; }

.sn-cta {
  margin: 70px auto; }
  .sn-cta .sn-icons {
    height: 76px;
    width: 60px; }
    .sn-cta .sn-icons.mail {
      background-position: 0 -873px; }
  .sn-cta .copy {
    position: absolute;
    display: inline-block;
    margin-left: 10px; }
    .sn-cta .copy h6 {
      line-height: 0; }
      @media (max-width: 768px) {
        .sn-cta .copy h6 {
          font-size: 0.8em;
          line-height: 1.2; } }
  @media (max-width: 768px) {
    .sn-cta h4 {
      font-size: 1.25em; } }

@media (max-width: 768px) {
  .sn-cta .sign-up {
    padding: 25px; } }

@media (max-width: 768px) {
  .sn-cta .subscribe {
    margin-bottom: 30px; } }

/*Form*/
form {
  display: flex;
  justify-content: flex-end; }
  form input[type="text"] {
    width: 250px;
    opacity: 0.4;
    height: 38px; }

/*SiteMap*/
.sn-sitemap {
  margin: 60px auto; }
  .sn-sitemap ul {
    padding: 0;
    list-style-type: none; }
  .sn-sitemap ul li:first-child {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 130%; }

/*Footer*/
.sn-footer {
  padding: 30px 0; }
  .sn-footer p {
    color: #fff; }
  .sn-footer ul {
    padding: 0;
    list-style-type: none; }
    .sn-footer ul li {
      display: inline-block; }
  .sn-footer .sn-social-icons.facebook {
    background-position: 0 -502px; }
  .sn-footer .sn-social-icons.twitter {
    background-position: 0 -547px; }
  .sn-footer .sn-social-icons.linkedin {
    background-position: 0 -598px; }
  .sn-footer .sn-social-icons.pinterest {
    background-position: 0 -655px; }

.sn-header .sn-icons.home {
  background-position: 0 -510px; }
